{% extends "master.html" %}

{% block title %}
    Create Account
{% endblock %}

{% block content %}
<div class="form">
  <div class="login">
    <div class="login-header">
      <h3>CREATE AN ACCOUNT</h3>
      <p>Please fill your information to create an account.</p>
    </div>
  </div>
<form class="login-form" action= "/create/" method="post">
    {% csrf_token %}
    <input type="text" id="firstname" name="firstname" placeholder="FirstName" required/>
    <input type="text" id="lastname" name="lastname" placeholder="LastName" required/>
    <input type="text" id="username" name="username" placeholder="UserName" required/>
    <input type="email" id="email" name="email" placeholder="Email" required/>
    <input type="password" id="passwd" name="passwd" placeholder="Password" required/>
    <button>Create Account</button>
    <p class="message">Already have an account.<a href="/login/">Login</a></p>
  </form>
</div>
</div>
{% endblock %}